* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.mobile-menu-icon, .mobile-menu-dropdown-itens, .mobile-user-area {
    display: none;
}

h1 {
    margin: 10px 20px;
}

h2 {
    font-weight: inherit;
    font-style: italic;
}

header {
    width: 100%;
    height: 175px;
    position: relative;
}

.header-itens {
    width: 100%;
    height: 70%;
    display: flex;
}

.header-logo-container {
    width: 30%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 80%;
}

.header-search-bar {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.form-input-email, .input-search-stock {
    width: 65%;
    border-radius: 4px;
    border: 1px solid black;
    font-weight: lighter;
    padding: 10px;
}

.input-search-stock {
    width: 80%;
}

.header-bag-area {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.header-shipping-text {
    color: #d6391e;
    font-style: italic;
}

.bag-text {
    text-transform: uppercase;
    color: #e6e6e6;
    margin-right: 5px;
}

.bag-icon{
    cursor: pointer;
    margin-right: 10px;
}

.bag-quantity {
    color: #d6391e;
    font-weight: bold;
}

.header-shipping-text {
    width: 50%;
    display: block;
}

.main-navigation {
    width: 100%;
    height: 35%;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #513367;
}

.nav-itens {
    list-style: none;
    color: white;
    font-style: italic;
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.nav-itens li {
    width: 12%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.nav-itens li:hover{
    background: #461b64;
}

.user-area {
    width: 25%;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-left: 10px;
    margin-right: 50px;
}

.user-area-login {
    color: white;
    font-style: italic;
    text-decoration: none;
    margin: 15px;
}

.user-area span{
    color: #7d47a3;
}

.content {
    width: 95%;
    margin: auto;
    padding: 40px 0;
}

.content-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.product-container {
    width: 30%;
    margin: 30px 0;
}

.potion-image {
    width: 90%;
    height: 300px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.potion-name {
    font-weight: bold;
}

.potion-price {
    color: red;
}

.potion-details {
    text-align: center;
    width: 100%;
    display: block;
}

footer {
    background: #e6e6e6;
    width: 100%;
    height: 240px;
    display: flex;
    justify-content: space-evenly;
}

.footer-box-left, .footer-box-right {
    width: 40%;
    height: 75%;
    margin: 30px;
}

.footer-links-container {
    width: 100%;
}

.footer-useful-links {
    list-style: none;
    width: 100%;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5em;
    color: #d6391e;
}

.footer-useful-links li {
    padding-right: 35px;
    margin-left: 10px;
    display: inline-block;
    cursor: pointer;
}

.footer-social-media {
    width: 100%;
    height: 30%;
    margin: 20px 0;
}

.footer-social-media-icons {
    width: 6%;
    margin: 15px;
    cursor: pointer;
}

.footer-copyright-box {
    margin: 10px;
}

.footer-copyright {
    color: #666;
    font-weight: 200;
}

.footer-form-container {
    width: 90%;
    height: 80%;
    padding-top: 20px;
    background: white;
    margin: 0 auto;
    border-radius: 5px;
}

.footer-form-newsletter {
    width: 100%;
    height: 100%;
    margin: 0 25px;
}

.form-text {
    margin: 15px 0;
}

.submit-button {
    width: 20%;
    background: #d6391e;
    padding: 10px;
    border-radius: 5px;
    border: none;
    text-transform: uppercase;
    color: white;
    margin: 0 5px;
    cursor: pointer;
}

.modal-container {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .5);
    z-index: 1000;
    display: none;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: #fff;
    width: 55%;
    height: auto;
    min-width: 300px;
    padding: 40px;
    position: relative;
}

.button-close {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    background: none;
    margin: 5px 12px;
    font-weight: bold;
    cursor: pointer;
    font-size: 1.1em;
}

.modal-container.show {
    display: flex;
}

.modal-image-container {
    float: left;
    width: 60%;
}

.modal-potion-image {
    width: 95%;
}

.modal-potion-title {
    margin: 15px 0;
}

#button-add-cart {
    display: block;
    margin: 15px;
}

.modal-potion-title:last-of-type {
    margin-bottom: 0;
}

.modal-potion-ingredients {
    list-style: none;
}

@media screen and (max-width: 700px) {
    h1 {
        text-align: center;
        margin-top: 20px;
    }
    .main-navigation {
        display: none;
    }
    /* Mobile */
    .mobile-menu-container {
        position: relative;
        float: left;
        width: 10%;
        margin: 25px 20px;
    }
    .mobile-menu-icon {
        display: inline;
    }
    .mobile-menu-dropdown-container {
        margin: 10px 0;
    }
    .mobile-menu-dropdown-itens {
        background: #513367;
        z-index: 1;
        position: absolute;
        display: none;
        width: 100vw;
    }
    /* .mobile-menu-dropdown-itens a:first-child {
        margin-top: 10px;
    } */
    .mobile-menu-dropdown-itens a {
        display: block;
        text-decoration: none;
        font-style: italic;
        color: white;
        padding: 10px 0 10px 50px;
    }
    .mobile-menu-dropdown-itens a:hover {
        background: #461b64;
    }
    .mobile-user-area {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .mobile-user-area .mobile-sign-text {
        display: inline-block;
        padding: 25px;
        margin: 0;
    }
    .showMenu {
        display: block;
    }
    
    /* Responsividade */
    header {
        height: auto;
    }
    .header-itens {
        align-items: center;
        float: right;
        width: 80%;
        height: auto;
        margin-top: 10px;
    }
    .header-logo-container {
        width: 100%;
        display: inline-block;
        text-align: center;
    }
    .logo {
        width: 90%;
    }
    .header-search-bar {
        display: none;
    }
    .bag-icon {
        width: 65%;
    }
    .header-bag-icon-container {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .header-bag-area {
        display: block;
    }
    .header-shipping-text {
        display: none;
    }
    .header-bag {
        display: flex;
        justify-content: center;
    }
    .bag-quantity {
        margin-left: 5px;
    }
    .mobile-shipping-text-container {
        width: 100%;
        display: inline-block;
        padding: 10px;
        background: #e6e6e6;
        text-align: center;
        margin-top: 5px;
    }
    .mobile-shipping-text {
        font-style: italic;
        font-family: sans-serif;
    }
    .content-container {
        padding-bottom: 50px;
    }
    .content {
        width: 100%;
        padding: 0;
    }
    .product-container {
        width: 45%;
        height: 30%;
    }
    .potion-image{
        height: auto;
    }
    .nav-itens, .user-area {
        display: inline-block;
        text-decoration: none;
        display: block;
        font-size: 0;
        position: absolute;
        z-index: 14;
    }
    footer {
        height: auto;
        display: flex;
        flex-flow: column-reverse;
    }
    .footer-box-right {
        width: fit-content;
        flex-flow: column-reverse;
        margin-bottom: 0;
    }
    .footer-box-left {
        width: fit-content;
        margin: 0;
    }
    .footer-useful-links {
        display: none;
    }
    .footer-form-container {
        padding-bottom: 25px;
        display: inline-block;
        width: 100%;
    }
    .footer-social-media {
        display: flex;
        justify-content: center;
        margin-bottom: 0;
    }
    .footer-social-media-icons {
        width: 7%;
        margin: 20px;
    }
    .footer-copyright-box {
        text-align: center;
        margin-bottom: 35px;
    }
    .modal-potion-infos {
        float: right;
    }
    /* Responsividade modal */
    .modal-image-container {
        width: 100%;
    }
    #potion-image{
        margin: 0 auto;
        width: 75%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .modal-potion-infos {
        font-size: 14px;
        display: contents;
    }
    .potion-name-container {
        text-align: center;
    }
    .potion-price-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #potion-price-title {
        margin: 0;
    }
    #potion-price {
        margin-left: 5px;
    }
    #button-add-cart{
        width: 45%;
    }
}

/* Modal */