* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

#unchecked {
    display: none;
}

.mobile-menu-icon{
    display: none;
}

h1 {
    margin: 15px;
}

h2 {
    font-weight: inherit;
    font-style: italic;
}

header {
    width: 100%;
    height: 220px;
    position: relative;
}

.header-itens {
    width: 100%;
    height: 70%;
    display: flex;
}

.header-logo-container {
    width: 30%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 80%;
}

.header-search-bar {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.form-input-email, .input-search-stock {
    width: 55%;
    border-radius: 4px;
    border: 1px solid black;
    font-weight: lighter;
    padding: 10px;
}

.input-search-stock {
    width: 80%;
}

.header-bag-area {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.header-shipping-text {
    color: #d6391e;
    font-style: italic;
}

.bag-text {
    text-transform: uppercase;
    color: #e6e6e6;
}

.bag-quantity {
    color: #d6391e;
    font-weight: bold;
}

.header-shipping-text {
    width: 50%;
    display: block;
}

.main-navigation {
    width: 100%;
    height: 35%;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #513367;
}

.nav-itens {
    list-style: none;
    color: white;
    font-style: italic;
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.nav-itens li {
    width: 12%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-area {
    width: 25%;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-left: 10px;
    margin-right: 50px;
}

.user-area-login {
    color: white;
    font-style: italic;
}

.content {
    width: 75%;
    margin: auto;
    padding: 40px;
}

.content-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.product-container {
    width: 30%;
    height: 40%;
    margin: 30px 0;
    align-items: center;
}

.potion-image {
    width: 90%;
    height: 95%;
    cursor: pointer;
}

.potion-name {
    font-weight: bold;
}

.potion-price {
    color: red;
}

.potion-details {
    text-align: center;
    width: 100%;
    display: block;
}

footer {
    background: #e6e6e6;
    width: 100%;
    height: 240px;
    display: flex;
    justify-content: space-evenly;
}

.footer-box-left, .footer-box-right {
    width: 40%;
    height: 75%;
    margin: 30px;
}

.footer-links-container {
    width: 100%;
}

.footer-useful-links {
    list-style: none;
    width: 100%;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5em;
    color: #d6391e;
}

.footer-useful-links li {
    padding-right: 35px;
    margin-left: 10px;
    display: inline-block;
}

.footer-social-media {
    width: 100%;
    height: 30%;
    margin: 20px 0;
}

.footer-social-media-icons {
    width: 6%;
    margin: 15px;
}

.footer-copyright-box {
    margin: 10px;
}

.footer-copyright {
    color: #666;
    font-weight: 200;
}

.footer-form-container {
    width: 90%;
    height: 80%;
    padding-top: 20px;
    background: white;
    margin: 0 auto;
    border-radius: 5px;
}

.footer-form-newsletter {
    width: 100%;
    height: 100%;
    margin: 0 25px;
}

.form-text {
    margin: 15px 0;
}

.submit-button {
    width: 20%;
    background: #d6391e;
    padding: 10px;
    border-radius: 5px;
    border: none;
    text-transform: uppercase;
    color: white;
    margin: 0 5px;
}

@media screen and (max-width: 700px) {
    h1 {
        text-align: center;
    }
    #menu-icon-label{
        width: 100%;
        cursor: pointer;
    }
    .mobile-menu-icon {
        display: inline;
    }
    .menu-navigation-container {}
    .header-itens {
        align-items: center;
    }
    .header-logo-container {
        width: 75%;
        display: block;
    }
    .logo {
        width: 90%;
    }
    .header-search-bar {
        display: none;
    }
    .bag-icon {
        width: 90%;
    }
    .header-bag-icon-container {
        width: 40%;
        display: flex;
    }
    .header-bag-area {
        display: block;
    }
    .header-shipping-text {
        display: none;
    }
    .content {
        width: 100%;
        padding: 0;
    }
    .product-container {
        margin: 0 5px;
        width: 45%;
        height: 30%;
    }
    .nav-itens, .user-area {
        display: inline-block;
        text-decoration: none;
        display: block;
        font-size: 0;
        position: absolute;
        z-index: 14;
    }
    footer {
        height: auto;
    }
    .footer-box-right {
        width: 100%;
        flex-flow: column-reverse;
    }
    .footer-box-left {
        width: 100%;
    }
    .footer-useful-links {
        display: none;
    }
    .footer-form-container {
        height: 40%;
    }
    .footer-social-media {}
    .modal-potion-infos {
        float: right;
    }
}

/* Modal */

.modal-container {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .5);
    z-index: 1000;
    display: none;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: #fff;
    width: 55%;
    height: 65%;
    min-width: 300px;
    padding: 40px;
    position: relative;
}

.button-close {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    background: none;
    margin: 5px 12px;
    font-weight: bold;
    cursor: pointer;
    font-size: 1.1em;
}

.modal-container.show {
    display: flex;
}

.modal-image-container {
    float: left;
    width: 60%;
}

.modal-potion-image {
    width: 95%;
}

.modal-potion-title {
    margin: 15px 0;
}

#button-add-cart {
    display: block;
    margin: 15px;
}

.modal-potion-title:last-of-type {
    margin-bottom: 0;
}

.modal-potion-ingredients {
    list-style: none;
}